<div class="about">
  <div class="main">Hi! I am Luis Sevillano.</div>
  <div class="sub">
    <p>
      I am a developer in the graphics department at El País, where my focus lies in creating compelling visual narratives for
      news stories. I hold a particular passion for maps and the utilization of remote sensing within media contexts.

    </p>
    <p>
      In my role, I cover all aspects related to mapping in elections and leverage my proficiency in working with Svelte to
      enhance interactive features and user experiences within our projects.
    </p>
  </div>
</div>
