<header>
  <div class="site-header">
    <div class="left">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="subtitle">Some of my data visualization/ infographics work</div>
    </div>
    <!-- {% if page.layout == 'landing' %} -->
    <div class="right subtitle">
      <a href="/contact" class="contact">About</a>
      <!-- <div class="details"><a class="no-link"href="https://twitter.com/sepirdata">@sepirdata</a></div>
      <div class="details"><a class="no-link"href="mailto:luissevillanopires@gmail.com">luissevillanopires@gmail.com</a></div> -->
    </div>
    <!-- {% endif %} -->
  </div>
</header>
