<header>
  <div class="container-fluid site-header">
    <div class="left">
      <a class="home" href="{{ site.baseurl }}/">
        <div class="site-title">{{ site.title }}</div>
        <div class="subtitle">Some of my data visualization/ infographics work</div>
      </a>
    </div>
    <!-- {% if page.layout == 'landing' %} -->
    <div class="right subtitle">
      <a href="/contact" class="contact">About</a>
      <!-- <div class="details"><a class="no-link"href="https://twitter.com/sepirdata">@sepirdata</a></div>
      <div class="details"><a class="no-link"href="mailto:luissevillanopires@gmail.com">luissevillanopires@gmail.com</a></div> -->
    </div>
    <!-- {% endif %} -->
  </div>
</header>
