@import "colors";
@import "variables";

.gallery {

}
.gallery-article-title {
    max-width: 200px;
    margin: 0;
}
.gallery-article-title:hover {
    color: #F46D5A;
}
.gallery-item {
    margin: 0;
    margin-bottom: 1em;
    width: 250px;
    display: inline-block;
    text-align: left;
    float: left;
    vertical-align: top;
}

.gallery-img {
    height: 180px;
    width: 200px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    box-shadow: 0 2px 10px rgba(221,228,225,1);
}
.gallery-img:hover {
    outline: 1px solid rgba(244,109,67,0.2);
}
.gallery-date {
    color: $gray-dark;
    font-size: 0.9em;
}
@media (min-width: 992px) {
    .gallery-img {
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }
}
