@import "colors";
@import "variables";

.gallery-date,
.gallery-img,
.gallery-article-title {
  text-align: left;
  margin: 0 auto;
  width: 270px;
}
.gallery-article-title {
  min-height: 30px;
  margin-top: 0.5em;
  color: $black;
  font-family: $mono;

  font-size: 1.5em;
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  // -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  // -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  // -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  // box-pack:center;
  box-align:center;
}
// .content:hover {
//   color: $navy;
//   // background-color: rgba(197,197,197,0.1);
//   // -moz-box-shadow: inset 2px 2px 0 rgba(0,0,0,0.6);
//   // -webkit-box-shadow: inset 2px 2px 0 rgba(0,0,0,0.6);
//   // box-shadow: inset 2px 2px 0 rgba(0,0,0,0.6);
//   box-shadow: 0 0 1px transparent;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-property: box-shadow;
//   transition-property: box-shadow;
//   box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
// }
.container{
  a {
    color: $black;
    font-weight: bold;
  }
}
.item a, .site-footer a {
  font-weight: normal;
}

.gallery-link {
  width: 100%;
}
.item {
  margin: 0 auto;
  // margin-bottom: 3rem;
  // text-align: center;
  vertical-align: top;
  max-width: 400px;

}
.content {
  text-align: center;
  margin: 0;
  height: 350px;
}

.gallery-item {
  margin: 0;
  // margin-bottom: 1em;
  width: 250px;
  display: inline-block;
  text-align: left;
  float: left;
  vertical-align: top;
}

.gallery-img {
  height: 270px;
  width: 270px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  box-shadow: 0 2px 10px rgba(221,228,225,1);
  //background-position-y: -12px;
  background-repeat: no-repeat;
}
.gallery-img,.gallery-article-title {
  border-radius:0.1em;
}
.content:hover {
  // .gallery-article-title {
  //   background: rgb(150,150,150);
  //   color: white;
  // }
  .gallery-img {
    -moz-box-shadow: 0 2px 10px #b0b0b0;
    -webkit-box-shadow: 0 2px 10px #b0b0b0;
    box-shadow: 0 2px 10px #b0b0b0;
  }
  .gallery-article-title {
    color: black;
    // text-shadow:1px 1px 2px #ccc;

  }
  .gallery-date {
    color: black;
  }
}

.gallery-date {
  color: $gallery-title;
  font-size: 1.3rem;
  display: block;
  color: rgb(150, 150, 150);
  //font-weight: ;
  letter-spacing: 0.6em;
  font-weight: bold;
  margin-bottom: 0.3rem;
  text-transform: uppercase;;
  //text-shadow: rgba(35, 55, 251,0.2) 0px -4px 3px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
}
/* Medium devices, desktop normal screens */
@media (min-width: $screen-md-min) {
  .gallery-img {
    width: 180px;
    height: 180px;
  }
  .gallery-article-title {
    // padding: 0.2em 0.2em 0.5em 0.2em;
    margin: 0;
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

/* Small devices, tablets */
@media (min-width: $screen-sm-min) {
  .item {
    min-height: 300px;
  }
  .gallery-date {
    letter-spacing: 0.5rem;
    min-height: 20px;
  }
  .gallery-date,
  .gallery-img,
  .gallery-article-title {
    width: 180px;
  }

  .gallery-img {
    height: 180px;
  }
  .gallery-article-title {
    font-size: 1.34rem;
  }
}
/* Medium devices, desktop normal screens */
@media (min-width: $screen-ph-max) and (max-width: $screen-sm-min) {
  .gallery-article-title {
    font-size: 1.5rem;
  }
  .gallery-img {
    height: 250px;
  }
  .gallery-date {
    text-align: left;
  }
  .gallery-date,
  .gallery-img,
  .gallery-article-title {
    width: 250px;
  }
}
