@import "colors";
@import "variables";

.site-title {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-weight: bold;

}
.subtitle {
  color: $gray-dark;
}
.site-header {
  margin: 0 auto;

}
.site-header {
  width: 90%;
}
header {
  padding-top: 1em;
  padding-bottom: 1em;  
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
}
/* Medium devices, desktop normal screens */
@media (min-width: $screen-md-min) {
  .site-header {
    margin: 0 auto;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2em;
  }

}
