$serif: 'PT Serif', serif;
$italic: "Alegreya", "Georgia", serif;
$sans: 'PT Sans', sans-serif;

$mobile: 550px;
$desktop: 1000px;

$screen-ph-min: 320px;
$screen-ph-max: 468px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
