@import "colors";
@import "variables";
#map {
  position: fixed;
  top: 0;
  left: 0;
}
.embed-video {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
i {
  font-style: italic;
}
article p {
  text-align: left;
  color: $gray-dark;
}
p.caption {
  color: rgb(150, 150, 150);
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}
p {
  &.break-p {
    margin-bottom: 2.5rem;
  }
}
ul {
  &.about {
    li {
      list-style-type: circle;
    }
  }
  .r-link,
  .r-link:active,
  .r-link:hover,
  .r-link:visited {
    color: #c7254e;
  }
}
div.ai2html {
  margin: 2rem 0;
}
.col-md-5 .img-responsive.img {
  margin-top: 0;
}
.img-container .col-centered {
  margin: 0 auto;
  float: none;
}
.article-header-block {
  display: block;
  color: $black-light;
}
.article-head-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: $libre;
  font-weight: bold;
}
.article-date {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: rgba(80, 80, 80, 0.8);
}
.img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  &.no-sdw {
    box-shadow: none;
  }
}

.img-map {
  height: 200px;
}

.tool {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: middle;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.pill {
  white-space: pre;
  display: inline-block;
  margin: 3px 0;
  font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono",
    monospace;
  padding: 0 0.5em;
  cursor: none;
}
.pills {
  margin-bottom: 0;
  padding: 0.7em 0;
}
.separator {
  padding-top: 1em;
  margin-left: 15px;
  margin-right: 15px;
}
.img-container {
  width: 100%;
  margin: 0 auto;
}
.img-container .col-md-12,
.img-container .col-md-6 {
  padding: 0;
}
.img-container .col-md-6 {
  width: auto;
}
.g-center {
  margin: 0 auto;
}
.img-responsive.img {
  margin: 1em 0;
}
.img-responsive.img.no-margin {
  margin-top: 1em;
}
code {
  white-space: pre;
  display: inline-block;
  margin: 0;
  font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono",
    monospace;
  padding: 0 0.5em;
}
.highlight,
p > pre,
p > code,
p > nobr > code,
li > code,
li > pre,
h5 > code,
.note > code {
  // background-color: #2b2b2b;
  // color: #fff;
  // max-width: 100%;
  // overflow-x: auto;
  // vertical-align: middle;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;
  // border-radius: 5px;
  padding: 0;
  // padding-top: 0.1em;
  // padding-bottom: 0.1em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
/* Medium devices, desktop normal screens */
@media (min-width: $screen-md-min) {
  .img-container {
    width: 95%;
    margin: 0 auto;
  }
  .img-container.z-margin {
    width: 100%;
    margin: 0 auto;
  }
  .pills {
    margin-bottom: 2em;
  }
  .separator {
    padding-top: 2em;
  }
  .img-container .col-md-6 {
    width: 49%;
  }
  .img-responsive.img.no-margin {
    margin: 0;
  }
  .img-responsive.img {
    margin-top: 2em;
  }
  .img-responsive.img.vertical {
    margin-top: 0;
  }
}
