@import "vars";

/*
** PILLS
*/

.pills {
  margin-top: 1em;
  display: flex;
  gap: 5px;
  max-width: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
  a {
    border-bottom: none;
  }
  span {
    padding: 2px 8px;
    border-radius: 2px;
    line-height: 1.2;
    font-style: italic;
    font-family: $font-family-serif;
    outline: 1px solid $gray6;

    /* no need to display empty elements */
    &:empty {
      display: none;
    }
    &:hover {
      outline: 1px solid $gray4;
    }

    &:not(:first-child):before {
      // content: ", ";
    }
  }
}

/*
** IMAGES
*/

img + em,
video + em {
  display: block;
  font-family: $font-family-serif;
  font-size: 0.8em;
  color: $gray2;
  text-align: right;
  line-height: 1.4em;
}

.half-image {
  display: inline-block;
  max-width: 49%;
  vertical-align: top;
}

/*
** VIDEO
*/
video {

  width: 100%;
  user-select: none;
  pointer-events: none;
}

// .post-thumbnail video {
//   margin-top: 2em;
//   margin-bottom: 1em;
// }

.small-video video {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.small-video video + em,
.medium-video video + em {
  max-width: 61.5em;
}

@media (min-width: 769px) {
  article {
    .ai2html {
      margin-top: 3em;
      margin-left: calc((80.1rem - 100%) / -2);
      max-width: 80.1rem !important;
      box-sizing: border-box;

      width: 100vw;
      flex-shrink: 0;
    }
    .ai2html.inherit {
      margin-left: 0;
      margin-right: 0;
      max-width: none;
    }
  }
}
@media (min-width: 1001px) {
  article {
    .ai2html {
      margin-top: 3em;
      margin-left: calc((100.1rem - 100%) / -2);
      max-width: 100.1rem !important;
      box-sizing: border-box;
      width: 100vw;
      flex-shrink: 0;
    }
    .ai2html.inherit {
      margin-left: 0;
      margin-right: 0;
      max-width: none;
    }
  }
}

/*
** about
*/

.main {
  font-size: 2.75rem;
  margin-bottom: 3rem;
  color: black;
  font-weight: bold;
}
.sub {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.about {
  padding-top: 8rem;
}
.sign {
  color: $gray3;
  font-size: 80%;
}
.prized {
  margin: 0 2px;
  width: 15px;
  color: gold;
}
.prized svg{
  width: 100%
}