@import "custom";
@import "vars";
:root {
  /* Darkmode por defecto */
  --color-bg: #181818;
  --color-text: #eee;
  --color-link: #fffbeb;
  --color-h: #fffbeb;
  --color-subtle: #bbbbbb;
  --color-footer: #b6b6b6;
  --color-postlabel: #fffbeb;
}
:root.lightmode {
  /* Lightmode opcional */
  --color-bg: #fff;
  --color-text: #222;
  --color-link: #333;
  --color-h: #000000;
  --color-subtle: #555;
  --color-footer: #777;
  --color-postlabel: #757575;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  -webkit-tap-highlight-color: transparent;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--color-bg);
}
body {
  font-weight: normal;
  font-style: normal;
  font-family: $font-family;
  color: var(--color-text);
  margin: 0;
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  line-height: 1.75;
  color: var(--color-h);
}
h1 {
  font-size: 1.25rem;
}

h2 {
  margin-top: 2.8125rem;
  font-size: 1.09375rem;
}

h3 {
  margin-top: 0.9375rem;
  font-size: 0.78125rem;
}

h4,
h5,
h6 {
  margin-top: 0.6875rem;
  font-size: 0.6875rem;
}
img {
  max-width: 100%;
}
a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px solid #555;
  &.image {
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
  }
}
mark {
  background: #fffc76;
  padding: 0 5px;
}
blockquote {
  border-left: 5px solid #ccc;
  margin: 40px 0;
  padding: 5px 30px;
  background: #eee;
}
.logo {
  position: relative;
  margin: 0 auto 35px;
  text-align: center;
  a {
    // background: #ddd url("logo_wrapper.png");
    color: #000;
    text-decoration: none;
    font-weight: 700;
    height: 100px;
    width: 100px;
    font-size: 0.9375em;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border: 5px solid #fff;
    box-sizing: border-box;

    .logo-avatar {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    @media (max-width: 480px) {
      &:hover + .logo-prompt,
      &:focus + .logo-prompt {
        display: none !important;
      }
    }
  }
    .logo-prompt {
    position: absolute;
    display: none;
    vertical-align: middle;
    padding: 5px;
    border-radius: 3px;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    color: #fff;
    font-size: 0.5146875em;
    text-align: center;
    line-height: 1.2;
    top: 50%;
    margin-top: -10px;
    &:before {
      content: "";
      border-width: 5px 5px 5px 0;
      border-style: solid;
      border-color: transparent #666;
      border-color: transparent rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: -5px;
      margin-top: -5px;
    }
  }
}
iframe {
  margin: 45px 0 !important;
}
ul,
ol {
  margin: 40px 0;
  padding-left: 15px;
  li {
    word-wrap: break-word;
  }
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}
time {
  color: var(--color-subtle);
}
code,
pre,
.code,
.footnotes {
  font-family: Consolas, monaco, monospace;
}
code {
  color: #f14e32;
  background: #eee;
  padding: 2px 6px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
  line-height: 1.5;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0.625rem;
  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  margin: 45px 0;
  thead {
    background: #f2f2f2;
  }
  th {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 15px solid #fff;
  }
  td {
    padding: 4px 0;
  }
}
iframe {
  width: 100%;
}
article,
section,
.page-navigation,
footer {
  padding: 0 1.875rem;
  max-width: 600px;
  font-size: 1rem;
  line-height: 180%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}
.divider-constant:not(:last-child) {
  border-bottom: 0.5px solid $gray5;
}
.divider {
  background: #ddd;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(#ccc),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #ccc,
    rgba(255, 255, 255, 0)
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #ccc,
    rgba(255, 255, 255, 0)
  );
  height: 1px;
  margin: 2em 0;
}
article {
  margin: 0 auto;
  h1.title {
    line-height: 1.4em;
    text-align: center;
    font-size: 0.875em;
  }

  .center {
    text-align: center;
    margin: 0 auto;
  }
  hr {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 30px 0;
  }
  p {
    word-wrap: break-word;
    margin-bottom: 1.3125rem;
  }
  .footnote {
    border: 0;
    background-color: #0087be;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
  }
  .footnotes {
    margin: 50px auto;
    display: block;
    color: #666;
    p {
      line-height: 0.625rem;
      font-weight: normal;
    }
    ol {
      margin: 0;
      padding-left: 15px;
      li {
        font-weight: bold;
      }
    }
    .reversefootnote {
      border: 0;
      color: #0087be;
    }
  }
  // a:hover {
  //   color: #369;
  //   border-color: #369;
  // }
}
.back {
  text-align: center;
  a {
    text-decoration: none;
    margin: 40px auto 0;
    display: inline-block;
    padding: 10px;
    border: 0;
    &:before {
      content: "<<";
      margin-right: 5px;
      color: #000;
    }
  }
}
.block {
  display: block;
}
.page-navigation,
footer {
  margin: 0 auto;
  font-size: 0.875rem;
  color: $gray3;
}
footer {
  margin: 0 auto;
  font-size: 0.875rem;
  color: $gray2;
  text-align: center;
  flex-shrink: 0;
}
.page-navigation {
  margin: 0.625rem auto;
  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
  }
  span {
    display: inline-block;
  }
}
footer {
  max-width: none;
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding: 1.875rem;
  color: var(--color-footer);
  a {
    border: none;
    font-weight: bold;
  }
}
section {
  margin: 0 auto 6.25rem auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 1.25rem 0;
      .title {
        max-width: 100%;
        word-wrap: normal !important;
        margin: 0.625rem 0 0rem;
        @media (min-width: 600px) {
          margin-bottom: 0rem;
        }
      }
      a {
        text-decoration: none;
        border: 0;
        box-sizing: border-box;
        color: var(--color-h);
      }
      .post-title {
        color: var(--color-h);
        font-size: 1.25rem;
      }
      .post-date {
        font-style: italic;
        color: var(--color-subtle);
      }
      .post-thumbnail {
        margin-bottom: 0.625rem;
      }
      span {
        display: inline-block;
        color: var(--color-postlabel);
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      @media (min-width: 992px) {
        a {
          border-bottom: 2px solid transparent;
          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
  .divider-constant {
    margin: 0.625rem 0 3.125rem;
    @media (min-width: 600px) {
      margin-bottom: 3.75rem;
    }
  }
}
@keyframes bounce {
  0% {
    transform: translate3d(0, -1000px, 0);
  }
  60% {
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -1000px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
  }
}
.blog-pill {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 2px;
  font-size: 85%;
  padding: 2px 6px;
  background-color: $gray5;
  color: white;
  font-style: normal;
  line-height: normal;
  text-transform: none;
}
.related {
  margin-top: 1.25rem;
  margin-bottom: 1.5625rem;
  padding-top: 1.25rem;
}
.related p {
  font-size: 1.0625rem;
  margin-bottom: 0;
}

.related ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.related li {
  font-size: 0.875rem;
  color: var(--color-subtle);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}
.related ul {
  list-style:square;
  padding-left: 15px;
}

.video-asset {
  max-width: 350px;
  margin: 0 auto;
}

